<a href="https://colab.research.google.com/github/pavi-ninjaac/Specrom_Analysis/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import the libraries
import pandas as pd
import numpy as np
import os
import time
import json

In [3]:
!pip install fasttext

Collecting fasttext
  Downloading https://files.pythonhosted.org/packages/f8/85/e2b368ab6d3528827b147fdb814f8189acc981a4bc2f99ab894650e05c40/fasttext-0.9.2.tar.gz (68kB)
     |████████████████████████████████| 71kB 2.9MB/s
Requirement already satisfied: pybind11>=2.2 in /usr/local/lib/python3.6/dist-packages (from fasttext) (2.6.1)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from fasttext) (51.0.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from fasttext) (1.19.4)
Building wheels for collected packages: fasttext
  Building wheel for fasttext (setup.py) ... done
  Created wheel for fasttext: filename=fasttext-0.9.2-cp36-cp36m-linux_x86_64.whl size=3040988 sha256=0048a076ab6e31171dba9e089ec61c0445d370adbf47ba8ab97da5aa992cee0a
  Stored in directory: /root/.cache/pip/wheels/98/ba/7f/b154944a1cf5a8cee91c154b75231136cc3a3321ab0e30f592
Successfully built fasttext
Installing collected packages: fasttext
Successfully installed fasttext-0.9.2

In [4]:
import fasttext

In [5]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [14]:
# load the data files
df1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dataFiles/111778997-2020-12-23.csv')
df2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dataFiles/395563332-2020-12-24.csv')
print("The size of the dataset 1---->",df1.shape)
print("The size of the dataset 2---->",df2.shape)

The size of the dataset 1----> (49350, 13)
The size of the dataset 2----> (138448, 13)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
#add those to dataframe into one using the pandas append method
data = df1.append(df2 , ignore_index = True)
print("The shape of the whole dataset--->",data.shape)

The shape of the whole dataset---> (187798, 13)

In [17]:
# columns 
columns = data.columns
print(columns)

Index(['author', 'crawl_date', 'crawl_desc', 'crawl_url', 'date',
       'description', 'full_text', 'img_url', 'site_name', 'title', 'topic',
       'url', 'webpage_source'],
      dtype='object')

### Find the Dublicate based on the 'title' column and remve the dublicate (dedublication)

In [23]:
# find the dublicate using the dublicate function in pandas
dublicate = data[data.duplicated('title')]
print("the number of deblicated samples in the dataset-->",len(dublicate))

the number of deblicated samples in the dataset--> 104956

In [30]:
#removing the dublicates from the dataset
data2 = data[~data.duplicated('title')]
print("The shape of the Resultant dataset----->",data2.shape)

The shape of the Resultant dataset-----> (82842, 13)

### Extract the English language samples

In [39]:
# need to extract the language on the basis of full_text
# Here I am using the fasttext to detect the language , more words will give more accurate result

import fasttext
#helper function
def lang_detect(text):
  pretrained_model_facebook_path = '/content/drive/MyDrive/Colab Notebooks/dataFiles/lid.176.bin' #store some where in your local machine and use it
  model = fasttext.load_model(pretrained_model_facebook_path)
  result = model.predict(text,1)
  return result[0][-2:]

In [56]:
def add(a):
  print(a)
 
  return a+2

df = pd.DataFrame({'index':[0,1,2,3,4,5,6] , 'nums': [2,3,4,5,6,7,8]})
df

   index  nums
0      0     2
1      1     3
2      2     4
3      3     5
4      4     6
5      5     7
6      6     8

In [58]:
df['new']= df.apply(lambda row : add(row['nums']),axis=1)
df

2
3
4
5
6
7
8

   index  nums  new
0      0     2    4
1      1     3    5
2      2     4    6
3      3     5    7
4      4     6    8
5      5     7    9
6      6     8   10

English